* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'HeirofLight';
    src: url('fonts/HeirofLightRegular.ttf') format('truetype'),
         url('fonts/HeirofLightOTFRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HeirofBold';
    src: url('fonts/HeirofLightBold.ttf') format('truetype'),
         url('fonts/HeirofLightOTFBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    position: relative;
}

.start-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    /* background-color: #4CAF50; */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-button:hover {
    /* background-color: #45a049; */
    transform: scale(1.05) 0.3s ease-in-out;
}

/* 로딩 스피너 애니메이션 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 80vh;
    margin: 50px auto;
    overflow-y: auto;
    box-sizing: border-box;
}

/* 모달 스크롤바 스타일링 */
.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
} 